/* PayPal button old styles */

/* .paypal-button {
  background-color: #64c3c5;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 14.647px;
  cursor: pointer;
  padding: 5px 4rem;
  margin-top: 1rem;
  width: 100%;
}

.paypal-button:hover {
  background-color: #64c3c5e1;
}

.paypal-button img {
  max-width: 150px;
} */

/* new styles */

.paypal_button {
  background-color: #64c3c5;
  border-radius: 57.759px;
  padding: 1rem 0;
  font-size: 1.2rem;
  border: 1px solid #fff;
  color: #fff;
  position: relative;
}

@media (min-width: 1200px) {
  .paypal_button {
    width: 50%;
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .paypal_button {
    width: 45%;
    float: left;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .paypal_button {
    width: 50%;
    float: left;
  }
}
@media (max-width: 576px) {
  .paypal_button {
    width: 80%;
  }
}

.paypal_button:hover,
.paypal_button:focus {
  background-color: #fff;
  border: 1px solid #64c3c5;
  color: #64c3c5;
}
